
 #title{
    color: #1a1a1a;
    background-color: #F6C90E;
    font-size: 2rem;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    padding: 0.5rem 1rem;
    transition: all 0.3s ease-in-out;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    font-family: 'Lora', serif;
    font-weight: bolder;
   /* #F6C90E;  */
}


 #title:hover {
    color: #1a1a1a;
    background-color: #F6C90E;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.4);
}

.navbar{
    padding-top: 2.1px;
        padding-bottom: 0.2rem;
}

textarea, button{
    font-family: 'Lora', serif;
}

h1{
    font-family: 'Lora', serif;
    font-weight: 500;
}

p{
font-family: 'Signika Negative', sans-serif;
}

footer{
       display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
}

